<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner background-logo">
        <section id="links" class="flex">
            <a href="{{ site.url }}/">Home</a>
            <a href="{{ site.url }}/pages/agenda">Agenda</a>
            <a href="{{ site.url }}/pages/pictures">Foto's</a>
            <a href="{{ site.url }}/pages/friends">Vrienden van de storeyclub</a>
            <a href="{{ site.url }}/pages/contact">Contact</a>
            <a href="{{ site.facebook_url }}" target="_blank">Facebook</a>
        </section>
    </header>
</div>
