<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include header.html %}

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <h4>{{ page.title }}</h4>
        <ul style="list-style-type: none;">
            {% assign image_files = site.static_files | where: "image", true %}
            {% for image in image_files %}
            {% if image.path contains page.folder %}
            <li>
                <img src="{{ site.url}}/{{ image.path }}" width="240px" height="160px">
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
</div>

{% include footer.html %}

</body>
</html>
