<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include header.html %}

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <h4>Albums:</h4>
        <ul style="list-style-type: none;">
            {% for album in site.albums %}
            <li>
                <a href="{{ site.url }}{{ album.url}}">{{ album.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>

{% include footer.html %}

</body>
</html>
