<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include header.html %}

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <article id="post-194" class="cf post-194 page type-page status-publish hentry" role="article" itemscope
                 itemtype="http://schema.org/BlogPosting">
            <section class="entry-content cf" itemprop="articleBody">
                <div id="pl-194" class="panel-layout">
                    <div id="pg-194-0" class="panel-grid panel-no-style">
                        <div id="pgc-194-0-0" class="panel-grid-cell">
                            <div id="panel-194-0-0-0"
                                 class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child"
                                 data-index="0">
                                <div class="textwidget">
                                    <p>
                                        <iframe style="border: 0px currentColor;"
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2425.3447763491267!2d4.737366000000002!3d52.56337600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5f9ab728a986b%3A0x843c02524b0e30a8!2sDe+Storey+Club!5e0!3m2!1snl!2snl!4v1421436509421"
                                                width="600" height="225" frameborder="0"></iframe>
                                    </p>
                                    <p><span style="color: #ffffff;">Storeyclub Akersloot</span><br/><span
                                            style="color: #ffffff;"> Wilhelminaplein 1</span><br/><span
                                            style="color: #ffffff;"> <span
                                            style="line-height: 1.5;">1921 CV<br/> </span><span
                                            style="line-height: 1.5;">Akersloot<br/> </span><span
                                            style="line-height: 1.5;">Tel: 0251-316956<br/>E-mail: Info@storeyclub.nl</span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>

    </section>
</div>

{% include footer.html %}

</body>
</html>
