<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include header.html %}

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        {{ content }}
    </section>

    <section id="posts" class="inner">
        {% for post in site.posts limit:10 %}
        <h3>
            <a href="{{ site.url }}{{ post.url }}">
                {{ post.title }}
            </a>
        </h3>
        <p>
            {{ post.description }}
        </p>
        {% endfor %}
    </section>
</div>

{% include footer.html %}

</body>
</html>
