<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include header.html %}

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        {{ content }}
    </section>

    <section id="posts" class="inner">
        {% for post in site.posts %}
        <h3>
            <a href="{{ site.url }}/{{ post.url }}">
                {{ post.title }}
            </a>
        </h3>
        <p>
            {{ post.description }}
        </p>
        {% endfor %}

        <!-- Pagination links -->
        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">
                Previous
            </a>
            {% else %}
            <span class="previous">Previous</span>
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
            <span class="next ">Next</span>
            {% endif %}
        </div>
    </section>
</div>

{% include footer.html %}

</body>
</html>
